body,
html {
    width: 800px;
    /* Example width */
    height: 600px;
    /* Example height */
    margin: 0;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    max-width: 600px;
    /* Adjust as needed */
}

.container {
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #e9ecef;
}

.header-item {
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin: 0 5px;
    text-align: center;
}

button {
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table,
th,
td {
    border: 1px solid #dee2e6;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}